.navbar-inverse {
    background-image: linear-gradient(to bottom right, #ff1cd2, #fbbcff);
    border-color: #000000;
}
.navbar-inverse .navbar-nav > li > a{
    color: white
}
.navbar-inverse .navbar-brand
{
    color: white
}

/*course layout*/
.course {
    list-style: none; 
    padding-top: 70px;
}
.course > li {
    position:relative;
    margin-bottom: 30px;
}
.course > li .date{
    text-align: center;
    background-color: blue;
    color: white;
    width: 60px;
    border-radius: 8px;
}
.course > li .details{
    position: absolute;
    top: 0;
    left: 70px;
}